<!DOCTYPE html>
  <html>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Chango|Chelsea+Market|Knewave|Luckiest+Guy|Monoton|Press+Start+2P" rel="stylesheet">
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="stylesheets/main.css">
  <!-- Custom JS -->
  <script type="text/javascript" src="scripts/app.js"></script>

 <head>

    <title>One Drank</title>

</head>

 <body>
   <header>
     <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="navbar-header">
           <ul class="nav navbar-nav pull-left">
             <li><a href="index.html">Home</a></li>
         </div>

         <div>
             <ul class="nav navbar-nav pull-right">
                <li>
                  <% if(user != undefined){ %>
                       Hello <%= user.fb.firstName %>
                       <a href="/logout">Logout</a>
                  <% } else { %>
                       <a href="/auth/facebook">Login with Facebook</a>
                  <% } %>
                </li>
            </ul>
         </div>

     </nav>
   </header>
       <div class="container">
          <section id="logo">
            <div class="logobox">
              <img id="drank" src="https://slack-imgs.com/?c=1&url=http%3A%2F%2Fi.imgur.com%2FMRMtzcc.png">
            </div>
          </section>

         <section id="container">
           <div class="searchbox">
               <form class="form-wrapper cf" method="GET" action="/toSearch">
        	      <input type="text" name="term" placeholder="Where do you want to drink?" required>
      	        <input type="submit" class="searchButton"></button>
              </form>
            </div>
          </section>
       </div>

  </body>


 </html>






<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>One Drank</title>
  </head>
  <body>


     <div class="facebook-login">
       <h1>FACEBOOK LOGIN USING PASSPORT</h1>




  </body>
</html> --> -->
