<<!DOCTYPE html>
  <html>

  <meta charset="utf-8">
  <!-- set viewport to device width to allow responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Cabin|Chango|Chelsea+Market|Knewave|Luckiest+Guy|Monoton|Press+Start+2P" rel="stylesheet">

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
  <!-- jQuery -->
  <!-- <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script> -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="stylesheets/main.css">

  <!-- Custom JS -->
  <script type="text/javascript" src="app.js"></script>

  <!-- Back-End Teams API -->

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-header">
            <ul class="nav navbar-nav pull-left">
              <li><a href="index.html">Home</a></li>
            </ul>
          </div>
          <ul class="nav navbar-nav pull-right">
            <li><a href="indexSignIn.html">Sign In Through Facebook</a></li>
            <li><a href="indexSignUp.html">Join</a></li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <form class="form-wrapper2 cf">
            <input type="text" placeholder="Where do you want to drink?" required>
            <button type="submit" class="searchButton"><a href="indexResults.html">Search</a></button>
          </form>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
      </div>

      <!-- <div class="container"> -->
      <div class="row">

        <!-- results list -->
        <div class="col-lg-6 ">

             <% include  results.ejs %>

        </div>

        <!-- map placeholder -->
        <div class="col-lg-6">
          <img id="map" src="http://www.shzongyue.com/data/out/57/39160455-google-maps.png">
        </div>
      </div>
    </div>

  </body>
